<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zum Verwenden der Web.config-Transformation finden Sie unter "http://go.microsoft.com/fwlink/?LinkId=301874". -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Im folgenden Beispiel wird durch die Transformation "SetAttributes" der Wert von
    "connectionString" geändert, sodass "ReleaseSQLServer" nur verwendet wird, wenn
    vom Locator "Match" ein Attribut vom Typ "name" mit dem Wert "MyDB" gefunden wird.
 -->
    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=tcp:fhstp-mis16-gr1-db.database.windows.net,1433;Initial Catalog=FhstpGr1Db;Persist Security Info=False;User ID=group1_fhstp;Password=Test123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Im folgenden Beispiel ersetzt die Transformation "Replace" den gesamten
      Abschnitt "<customErrors>" der Datei "Web.config".
      Da unter dem Knoten "<system.web>" nur ein Abschnitt vom Typ
      "customErrors" vorhanden ist, muss das Attribut "xdt:Locator" nicht verwendet werden.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
