@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gruppe 1  ToDo</h1>
    <p class="lead">Verteilte Anwendung mit Webseite, WebAPI, DocumentDB (NoSQL), Scheduler und SendGrid</p>
</div>
